<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		Has sido invitado a <%= @event.name %>.
		La fecha l&iacute;mite es <%= @event.end_date %>.
		Para subir tu archivo usa el siguiente link <%= @url %>
	</body>
</html>