<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		You have been invited to <%= @event.name %>.
		The due date is <%= @event.end_date %>.
		To upload your file just follow the link <%= @url %>
	</body>
</html>