<div class="facebook-login">
        <a class="btn-large btn btn-custom" href="#">f |	Login with Facebook</a>
</div>
      <div class="login-separator">
      	 <hr><p>OR</p><hr>
    </div>
    <br><br><br>
    <br>
      <div class="regular-login">
<form action="">
  Email: <input type="text" name="Email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
      </div>

      <hr>